* {
  box-sizing: border-box;
}

button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #4e3434;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:hover {

  color: #4e3434;
  background-color: white;
}


body {
  background-image: linear-gradient(to bottom right, lightgray, white);
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  
}

.card {
  align-items: center;
  background-image: linear-gradient(to bottom right, white, lightgray);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
}



.input-gruop {
  border: 1px solid gray;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

footer p {

  background-color: black;
  border: 5px solid black;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
}

.format {

  margin-top: 75px;




}

header {

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 75px;


}

.infoDiv {

  flex-flow: column;
  border: 1px solid gray;
  width: 25%;
  padding: 0.5rem;
  margin: 1rem;
  
}

iframe {
  width: 100%;
}


input, textarea {

  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: black;
  background: transparent;
  font-size: 15px;

}

li a {

  list-style-type: none;
  text-decoration: none;
  color: white;
  display: block;
  margin: 0.5rem 1.51rem;
  text-align: center;
}

li a:hover {


  color: white;
}

.nav-item {
  align-self: flex-end;
  color: #3d6ded;
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
}

nav li {
  display: inline-block;
  flex-flow: row nowrap;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;

}



nav ul {

  background-color: black;
  border-radius: 10px;
  border: 4px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;


}

.link {

  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.link ul {
color: black;

}
.link li {

  color: black;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;

  
}


.page-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}



.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}

label, select {

  display: block;
  margin: 0.5rem 1.51rem;
  width: 90%;

}



footer nav {
  margin-top: 50px;
}

.active {

  display: block;
}

.btns {

  text-align: center;
  justify-content: center;
  
}
